@import '@servicenow/sass-kit/host';

section{
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
border-color: black;
border-width: 1px;
border-style: solid;
background-color: azure;
width: 250px;
height: 90px;
padding: 10px;
}

now-button
{
    padding: 10px;
}